.newsItem {
    display: flex;
    padding: 6px 24px;
    padding-left: 40px;
}

.newsItem:nth-child(even) {
    background-color: rgb(229, 229, 229);
}

.comment {
    padding-right: 40px;
    width: 24px;
}

.flex {
    display: flex;
}

.newsReaction {
    display: flex;
}

.newsDescription {
    display: flex;
}

.greyFont {
    color: rgb(129, 129, 129);
}

.pr25 {
    padding-right: 4px;
}
